body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

html {
  height: 100%;
  width: 100%;
}
.horizontal-swipe {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.horizontal-swipe::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.item {
  flex: 0 0 auto;
  width: 160px; /* Width of each item */
  margin-right: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 5px;
  height: 160 px;
  /* text-align: center; */
}

/* Optional: Add some styling for touch devices */
@media (hover: none) {
  .horizontal-swipe {
    -webkit-overflow-scrolling: touch;
  }
}

.overflow-auto {
    overflow-x: auto;
}

.bg-golden {
    background-color:		#008080; 
}
audio {
    width: 100%;
    min-width:50px;
}

.lyrics-textarea{
  overflow: auto;
}

/* CSS for the sidebar content */
.content-section {
  background-color: #f8f9fa; /* Light gray background */
  border: 1px solid #dee2e6; /* Border around the box */
  padding: 20px; /* Padding inside the box */
  border-radius: 5px; /* Rounded corners */
}

/* Styling for song details */
.song-details {
  margin-bottom: 20px; /* Spacing between song details and other content */
}

.song-details h6 {
  font-weight: bold; /* Make song title bold */
}

.song-details p {
  font-size: 14px; /* Make artist name a little smaller */
  color: #6c757d; /* Gray color for artist name */
  max-height: calc(1.2em * 5); 
  overflow-y: auto;
}

.lyrics {
  overflow-y: auto; /* Allow vertical scrolling if lyrics exceed height */
  max-height: 100px; /* Limit the height of the lyrics box */
}

/* Audio player styling */
audio {
  width: 100%; /* Make audio player full-width */
}

.rate-button{
  padding: 0.20rem 0.10rem;
  font-size: 0.002rem;
  line-height: .5;
  border-radius: 0.2rem;
}

.playbutton{
  margin-right: 0.100rem;
}


