{% extends 'creator_layout.html' %}
{% block content %}
<div class='content'>
  <div class='container-sm p-3 mb-2 bg-secondary text-white'>
    <form method='post' action='/creator/login' class='container-md'>
        <h3><small class="text-body-secondary">Welcome to</small> Register Page of creators
        </h3>
        <div class="mb-3" >
          <h4>
            Register as a Creator
          </h4>
        </div>
        <div class="mb-3">
          <button type='submit' name='creator-login' value='create' class="btn btn-primary">Register</button>
        </div>
    </form>
  </div>  
</div>
{% endblock %}